# Server
PORT=5000
NODE_ENV=development
#mCyIBpaLOyvbBSSC 
#O4n4bmlJtN1ZVIzv
# Database
DB_URI=mongodb+srv://truongdan:O4n4bmlJtN1ZVIzv@cluster0.5ahbgrw.mongodb.net/?appName=Cluster0

# Auth
JWT_SECRET=change_me
JWT_LIFETIME=7d

# Blockchain
BLOCKCHAIN_RPC_URL=http://127.0.0.1:8545
BLOCKCHAIN_PRIVATE_KEY=your_admin_wallet_private_key
CONTRACT_ADDRESS=0xYourTraceabilityContractAddress

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Web frontend for QR URL generation
FRONTEND_URL=http://localhost:3000
